{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
  <h1 class="logo">{{ title }}</h1>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_astronaut.label }}<br>
        {{ form.id_astronaut(class="form-control") }}<br>
        {% for error in form.id_astronaut.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.astronaut_password.label }}<br>
        {{ form.astronaut_password(class="form-control", type="password") }}<br>
        {% for error in form.astronaut_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.id_captain.label }}<br>
        {{ form.id_captain(class="form-control") }}<br>
        {% for error in form.id_captain.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.captain_password.label }}<br>
        {{ form.captain_password(class="form-control", type="password") }}<br>
        {% for error in form.captain_password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}